<wm-page data-ng-controller="MainPageController" pagetitle="Main" name="page1">
    <wm-content name="content1">
        <wm-page-content columnwidth="12" name="page_content1">
            <wm-tabs name="tabs1">
                <wm-tabpane name="tabpane1">
                    <wm-tabheader name="tabheader1"></wm-tabheader>
                    <wm-tabcontent name="tabcontent1">
                        <wm-livegrid name="ProductsLivegrid1" service="cropdata@Products">
                            <wm-grid deleterow="true" updaterow="true" insertrow="true" gridfirstrowselect="true" readonlygrid="false" name="ProductsGrid1" dataset="bind:Variables.CropdataProductsData.dataSet">
                                <wm-grid-column binding="id" caption="Id" type="integer" primary-key="true" generator="identity" readonly="true" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                                <wm-grid-column binding="name" caption="Name" type="string" generator="assigned" readonly="false" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                                <wm-grid-column binding="year" caption="Year" type="date" generator="assigned" readonly="false" datepattern="yyyy-MM-dd" formatpattern="toDate" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                                <wm-grid-column binding="prod" caption="Prod" type="integer" generator="assigned" readonly="false" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                                <wm-grid-action key="addNewRow" display-name="New" iconclass="glyphicon glyphicon-plus" show="true" class="btn-primary" action="addNewRow()"></wm-grid-action>
                            </wm-grid>
                            <wm-liveform novalidate="false" title="Details" name="ProductsLiveform1" dataset="bind:Variables.CropdataProductsData.dataSet" formlayout="inline">
                                <wm-layoutgrid name="layoutgrid1">
                                    <wm-gridrow name="gridrow1">
                                        <wm-gridcolumn show="hide" name="gridcolumn1" columnwidth="12">
                                            <wm-form-field display-name="Id" show="false" primary-key="true" generator="identity" key="id" type="integer" is-related="false" readonly="true" required="true"></wm-form-field>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn show="show" name="gridcolumn2" columnwidth="12">
                                            <wm-form-field display-name="Name" show="true" primary-key="false" generator="assigned" key="name" type="string" maxvalue="10" is-related="false" readonly="false" required="false"></wm-form-field>
                                        </wm-gridcolumn>
                                    </wm-gridrow>
                                    <wm-gridrow name="gridrow2">
                                        <wm-gridcolumn show="show" name="gridcolumn3" columnwidth="12">
                                            <wm-form-field display-name="Year" show="true" primary-key="false" generator="assigned" key="year" type="date" is-related="false" readonly="false" required="false"></wm-form-field>
                                        </wm-gridcolumn>
                                    </wm-gridrow>
                                    <wm-gridrow name="gridrow3">
                                        <wm-gridcolumn show="show" name="gridcolumn4" columnwidth="12">
                                            <wm-form-field display-name="Prod" show="true" primary-key="false" generator="assigned" key="prod" type="integer" is-related="false" readonly="false" required="false"></wm-form-field>
                                        </wm-gridcolumn>
                                    </wm-gridrow>
                                </wm-layoutgrid>
                                <wm-form-action key="cancel" class="form-cancel btn-secondary" iconclass="glyphicon glyphicon-remove-circle" action="cancel()" display-name="Cancel" show="true" type="button" update-mode="true"></wm-form-action>
                                <wm-form-action key="save" class="form-save btn-success" iconclass="glyphicon glyphicon-save" display-name="Save" show="true" type="submit" update-mode="true"></wm-form-action>
                            </wm-liveform>
                        </wm-livegrid>
                    </wm-tabcontent>
                </wm-tabpane>
                <wm-tabpane name="tabpane2">
                    <wm-tabheader name="tabheader2"></wm-tabheader>
                    <wm-tabcontent name="tabcontent2"></wm-tabcontent>
                </wm-tabpane>
            </wm-tabs>
        </wm-page-content>
    </wm-content>
</wm-page>